.header {
  width: 100%;
  overflow: hidden;

  background: linear-gradient(
    to bottom,
    rgba(236, 38, 143, 0.3),
    rgba(236, 38, 143, 0.1),
    transparent
  );

  padding: 20px;

  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.4);
}

.content {
  margin-bottom: 24px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.textWrapper > * + * {
  margin-top: 8px;
}

.description {
  max-width: 672px;

  margin: 0;

  font-size: 16px;
  line-height: 1.625;
  color: #d4d4d8;
}

@media (min-width: 768px) {
  .header {
    padding: 32px;
  }

  .description {
    font-size: 18px;
  }
}